body {
    background-color: rgba(136, 136, 136, 0.8);
    font-family: sans-serif;

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

button {
    width: 15vh;
    height: 6vh;
    margin: 2vh 2vh;
    font-size: 0.8rem;
    border-radius: 5px;
}

#colorPicker {
    width: 7vh;
    height: 6vh;
    margin: 2vh 2vh;
    font-size: 0.8rem;
    border-radius: 5px;
}

#grid-container {
    display: grid;
    margin: 1vh auto;
    height: 80vh;
    width: 80vh;

}
.grid-item {
    border: 1px solid rgba(182, 182, 182, 0.8);
    font-size: 4px;
    text-align: center;
}


